# OS cruft
.DS_Store

# Editor/IDE
.vscode/
.idea/

# Node/Angular
node_modules/
examen-frontend/node_modules/
examen-frontend/dist/
examen-frontend/.angular/
npm-debug.log*
yarn-error.log*

# Java/Gradle
examen-backend/.gradle/
examen-backend/build/
examen-backend/out/
examen-backend/bin/

# Environment / secrets
.env
.env.*
*.env
*.local
*.log

# Certs
deploy/certs/
